<div class="container mt-4">
    <h2 class="text-center">Create a new servicio</h2>
    <form [formGroup]="servicioForm" (ngSubmit)="!servicioForm.invalid && createServicio(servicioForm.value)">
        <!--Name-->
        <div class="form-group mx-sm-3 mb-2">
            <label for="name">Name</label>
            <input novalidate id="name" class="form-control" formControlName="name" placeholder="Servicio's name" />
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="
            servicioForm.get('name')!.hasError('required') &&
            servicioForm.get('name')!.touched
          ">
                Name required
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
                *ngIf="servicioForm.get('name')!.hasError('minlength')">
                Name too short
            </div>
        </div>

        <!--Image-->
        <div class="form-group mx-sm-3 mb-2">
            <label for="image">Image</label>
            <input novalidate id="image" class="form-control" formControlName="image"
                placeholder="URL with Servicio's image" />
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="
            servicioForm.get('image')!.hasError('required') &&
            servicioForm.get('image')!.touched
          ">
                Image required
            </div>
        </div>

        <!--Birth Date-->
        <div class="form-group mx-sm-3 mb-2">
            <label for="birthDate">Birth date</label>
            <input novalidate id="birthDate" class="form-control" formControlName="birthDate"
                placeholder="Servicio's birth date" type="date" />
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="
            servicioForm.get('birthDate')!.hasError('required') &&
            servicioForm.get('birthDate')!.touched
          ">
                Birth date required
            </div>
        </div>

        <!--Description-->
        <div class="form-group mx-sm-3 mb-2">
            <label for="description">Description</label>
            <input novalidate id="description" class="form-control" formControlName="description"
                placeholder="Servicio's short description" />
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="
            servicioForm.get('description')!.hasError('required') &&
            servicioForm.get('description')!.touched
          ">
                Description required
            </div>
            <div class="alert alert-danger alert-dismissible fade show"
                *ngIf="servicioForm.get('description')!.hasError('maxlength')">
                Description too long
            </div>
        </div>

        <button id="submit" type="submit" class="btn btn-primary" [disabled]="!servicioForm.valid">
            Create
        </button>
        <button type="button" class="btn btn-danger ml-3" (click)="cancelCreation()">
            Cancel
        </button>
    </form>
</div>