/* stylelint-disable selector-list-comma-newline-after */



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif
        /*rtl:Amiri, Georgia, "Times New Roman", serif*/
    ;
}

.display-4 {
    font-size: 2.5rem;
}

@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}






.imgContainer {
    max-height: fit-content;
}


@media (min-width: 768px) {
    .h-md-250 {
        height: 250px;
    }
}


.link {
    color: #212529;
}

.imagen img {
    height: 200px;
    width: 200px;
    display: block;
    margin: auto;

    object-fit: contain;
    position: absolute;
    max-width: 100%;
}

/*
   * Footer
   */
.blog-footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.spa-bg {
    background-image: url('https://static.wixstatic.com/media/8035b2_fb2ef35ce18c4ddca7daf10e74446e6f~mv2.jpg/v1/fill/w_2500,h_1318,al_c/8035b2_fb2ef35ce18c4ddca7daf10e74446e6f~mv2.jpg');
    background-size: cover;
}